// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

/* ===== BOTÓN TEMAS ===== */

.theme-toggle {
  display: inline-flex; /* ancho solo del contenido */
  align-items: center;
  gap: 0.5rem; /* misma distancia real */
}

/* iconos mismo tamaño */
.theme-icon {
  font-size: 1.25rem;
  width: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

/* icono activo */
.theme-icon.active {
  //transform: scale(1.2);
  opacity: 1;
}

/* icono inactivo */
.theme-icon.inactive {
  transform: scale(.8);
  opacity: 0.3;
}

/* eliminar offset del switch bootstrap */
.theme-toggle .form-check {
  padding-left: 0;
}

.theme-toggle .form-check-input {
  margin-left: 0;
}
